body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  background-color: #457b9d;
}

main h1{
  text-align: center;
}

.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container input{
  width: 300px;
  height: 30px;
  font-size: 1.25rem;
}
.input-container button{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.5rem;
  background-color: rgb(241, 16, 16);
  margin-top: 10px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo{
    width: 500px;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    background: whitesmoke;
    border-radius: 10px;
    padding: 0px 5px;
    margin: 5px;

}
.actions{
  display: inline-block;
    padding: 15px 0px;

}
.actions button{
  background-color: red;
  color: white;
  height: 30px;
  width: 78px;
  border-radius: 10px;
  margin-left: 7px;
}

.action input{
  margin-top: 7px;

}
